/target/
/.classpath
/.project
/.factorypath
/.settings/
/work/
/.idea/
*.iml
nbactions.xml
nb-configuration.xml
*.bak
/.vscode/
**/.DS_Store
.java-version
.sdkmanrc
/eclipse-target/
# for jenkins only
.repository/
